<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="WIDGaT:@[id]">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>@[name]</title>
        <!-- template and component stylesheet libraries followed by main stylesheet-->
        <!--@[<styles>]-->
        <link rel="stylesheet" type="text/css" href="styles/main.css" />
		<!-- template and component javascript libraries followed by main javascript-->
        <!--@[<scripts>]-->
        <!-- template and main Javascript file -->
        <script type="text/javascript" src="scripts/main.js"></script>
        <!-- WIDGaT Libraries included: @[<libraries>]-->
        <!-- WIDGaT Components included: @[<components>]-->
	</head>
    <body onload="init()" >
        <div id="timerTemplate" class="timerTemplate component" role="content">
	        <h1>@[name]</h1><br />
            <div id="ph1" class="placeholder">
                <!--@[ph1]-->&nbsp;
            </div>
            <div id="ph2" class="placeholder">
                <!--@[ph2]-->&nbsp;
            </div>
            <div id="ph3" class="placeholder">
                <!--@[ph3]-->&nbsp;
            </div>
        </div>
        <!--@[<content>]-->
    </body>
</html>



