
/* analogClock CSS Document */

p {
	text-align: center; 
	padding: 4px 0 0 0;
}

#@[id] {
	width: @[width]px;
	height:@[width]px;
	/*margin: 7px 0 0 0;*/
}

#@[id]-clock {
	position: relative;
	text-align:center;
	/*margin: 7px 0 0 0;*/
}

#@[id]-sec, #@[id]-min, #@[id]-hour {
	position: absolute;
	top: 0px;
}

#@[id]-sec {
	z-index: 3;
}

#@[id]-min {
	z-index: 2;
}