/* SAMPLE CSS STYLES FOR JQUERY CLOCK PLUGIN */
#@[id] {
	display:inline-block;
	-webkit-box-sizing: content-box !important; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: content-box !important;    /* Firefox, other Gecko */
	box-sizing: content-box !important; 
}
#@[id]-display.jqclock {
	float:left;
	text-align:center;
	border: 1px Black solid;
	background: LightYellow;
	padding: 10px;
	clear:both;
}
#@[id]-display .clockdate { 
	color: DarkRed;
	margin-bottom: 10px;
	font-size: 18px;
	display: block;
}
#@[id]-display .clocktime {
	border: 2px inset White;
	background: Black;
	padding: 5px;
	font-size: 14px;
	font-family: "Courier";
	color: LightGreen;
	margin: 2px;
	display: block;
}